@page "/"

<h1>RaceReports</h1>
<p>Blazor-UI för redovisning av mitt .NET API.</p>

<ul>
    <li>API: <code>http://localhost:5258</code></li>
    <li>Swagger: <a href="http://localhost:5258/swagger" target="_blank">öppna</a></li>
</ul>

